@charset "UTF-8";
/*Null style*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------*/

/*----------------Header----------------*/
.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
    position: relative;
    height: 104px;
    display: block;
}

.headerContent{
    margin-left: 250px;
    flex: 1 1 auto;
}

/*--------Logo------------*/
.logo {
    padding: 30px 40px 0 40px;
    position: absolute;
}

.logoBox {
    display: inline-flex;
}

.logoDown {
    transform: rotate(-45deg);
}

.logoUp {
    transform: rotate(45deg);
}

.logoElement {
    height: 40px;
    width: 11px;
    margin-left: 11px;
    border-radius: 5px;
    background: #2C9323;
}

/*--------Top menu header------------*/
.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 13px 40px 0 0;
}

.smallMenu {
    display: inline-flex;
}

.smallText {
    display: inline-block;
    margin-right: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7B94B0;
}

.languageButton {
    background-color: #fff;
    padding: 3px;
    color: #7B94B0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.active {
    background: #F4F5F8;
    border-radius: 3px;
    color: #202454;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

/*--------Bottom menu header------------*/
.headerBottom {
    display: flex;
    justify-content: space-between;
    padding: 29px 40px 0 0;
}

.bigMenu {
    display: inline-flex;
}

.buttonMenu {
    display: inline-flex;
}

.bigText {
    display: inline-block;
    margin-right: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #202454;
}

.icon {
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin-left: 10px;
}

.counter {
    position: relative;
    padding-right: 14px;
    width: 44px;
}

.iconSize {
    height: 27px;
    width: 25px;
}

.productCounter {
    position: absolute;
    display: inline-block;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-color: #E77E42;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*--------Content------------*/

.content {
    width: 100%;
    display: block;
    position: relative;
}

.container {
    margin: 0 250px;
}

.contentBox {
    max-width: 1420px;
    display: flex;
    flex-direction: column;
}

.contentBoxTop {
    margin-top: 100px;
    display: inline-flex;
}

.contentBoxBottom {
    margin-top: 37px;
    position: relative;
    align-self: center;
}

.productBox {
    display: inline-flex;
}

.product {
    width: 240px;
    margin: 0 15px;
    overflow: auto;
}

/*------------Scroll button style-------------*/
.scrollButton {
    width: 32px;
    height: 32px;
    margin: 120px 0 0 3px;
    background: #E0E0E0;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    flex-shrink: 0;
}

.left {
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 3px;
}

/*------------Product card top styles---------*/
.productPreview {
    padding: 28px 30px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
}

.productImage {
    height: 200px;
    width: 184px;
}

.productAbout {
    position: relative;
}

.productSale {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 22px;
}

.discount {
    background-color: #E95471;
    border-radius: 3px;
}

.saleElement {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 4px 6px;
    margin-bottom: 9px;
}

/*-----------Product card bottom styles---------*/
.productName {
    margin-top: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #202454;
    display: inline-block;
}

.productRating {
    margin-top: 27px;
    align-items: center;
    display: flex;
}

.ratingStar {
    display: inline-flex;
}

.star {
    height: 14px;
    width: 14px;
}

.votesCount {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #202454;
}

.productPrice {
    margin-top: 16px;
}

.fullPrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #7B94B0;
}

.salePrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
}

.refresh {
    margin-top: 4px;
}

.refreshPriceButton {
    background-color: #E95471;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-top: 4px;
}

.refreshImage {
    height: 14px;
    width: 11px;
    color: #fff;
}

.refreshPrice {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #7B94B0;
}

.buy {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0;
    right: 0;
    box-shadow: 0px 2px 6px rgba(84, 143, 199, 0.2);
}

.buyImage {
    width: 21px;
    height: 20px;
}

/*--------Bottom content------------*/
.navigateScroll {
    display: inline-flex;
}

.navigateScrollButton {
    width: 8px;
    height: 8px;
    background-color: #E0E0E0;
    border-radius: 50%;
    margin-right: 8px;
}

.activeScroll {
    background: #245420;
}

/*------------Content footer--------------*/
.contentFooter {
    position: relative;
}

.contentFooterBox {
    position: absolute;
    top: -77px;
    left: 491px;
}

.cFContainer {
    width: 100%;
    height: 180px;
    background-color: #026C00;
    margin-top: 180px;
    opacity: 0.4;
}

.contentFooterFlex {
    display: inline-flex;
    flex-direction: column;
    margin-top: 109px;
    margin-left: 102px;
}

.doggo {
    width: 266px;
    height: 260px;
}

.adText {
    display: inline-block;
    width: 542px;
    height: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #202454;
}

.registry {
    margin-top: 24px;
    align-self: center;
    width: 225px;
    height: 48px;
    background-color: #E77E42;
    border-radius: 3px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*--------Футер------------*/

.footer {
    height: 319px;
    width: 100%;
    background-color: #245420;
    position: relative;
    bottom: 0;
}

.footerFlexBox {
    display: flex;
    flex-direction: column;
}

.footerContent {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}

.upButton {
    width: 48px;
    height: 48px;
    background: #678d64;
    padding-top: 5px;
    color: #FFFFFF;
    font-size: 36px;
    border-radius: 50%;
    vertical-align: middle;
}

.upButtonText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 16px;
}

.liStyle {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 12px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 12px;
}

/*----------Footer bottom-----------*/
.footerLine {
    width: 100%;
    padding: 47px 0 0 0;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.2;
}

.footerAbout {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footerSmallText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}

.footerBigText {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/*----------------Media get--------------*/
@media (max-width: 1750px){
    .five {
        display: none;
    }
    
    .contentBoxTop {
        max-width: 1150px;
    }

    .contentFooterBox {
        left: 250px;
    }
}

@media (max-width: 1450px) {
    .container {
        margin: 0 100px;
    }

    .contentFooterBox {
        left: 100px;
    }
}

@media (max-width: 1280px) {
    .productBox {
        flex-wrap: wrap;
    }

    .product {
        margin: 25px 50px 25px 50px
    }

    .contentBoxTop {
        max-width: 751px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .cFContainer {
        margin-top: 20px;
    }

    .scrollButton {
        margin-top: 0;
        align-self: center;
    }
}

@media (max-width: 1080px) {
    .headerContent {
        margin-left: 170px;
    }

    .contentFooterFlex {
        margin-left: 0px;
    }
}

@media (max-width: 950px) {
    .contentBoxTop {
        margin: 0 auto;
        margin-top: 10px;
    }

    .footerLogo {
        display: none;
    }

    .product {
        width: 100%;
    }

    .productImage {
        display: block;
        margin: 0 auto;
    }

    .doggo {
        display: none;
    }

    .bigText {
        display: none;
    }

    .container {
        margin: 0 20px;
    }
}

@media (max-width: 680px) {
    .contentFooter {
        display: none;
    }
    
    .footer {
        margin-top: 20px;
    }
}